header {
  border: 2px solid red;
  font-weight: 700;
  font-size: 20px;
  color: grey;
  width: 800px;
  height: 200px;
  text-align: center;
  padding-top: 100px;
  line-height: 25px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav {
  border: 2px solid orange;
  font-weight: 700;
  font-size: 20px;
  color: grey;
  width: 100px;
  height: 400px;
  text-align: center;
  padding-top: 100px;
  line-height: 25px;
}

section {
  border: 2px solid orange;
  font-weight: 700;
  font-size: 20px;
  color: grey;
  width: 700px;
  height: 400px;
  text-align: center;
  padding-top: 100px;
  line-height: 25px;
}

footer {
  border: 2px solid grey;
  font-weight: 700;
  font-size: 20px;
  color: grey;
  width: 800px;
  height: 200px;
  text-align: center;
  padding-top: 100px;
  line-height: 25px;
}
/*# sourceMappingURL=style.css.map */