@mixin border($Bcolor) {
	border: 2px solid $Bcolor;
}

@mixin text {
	font-weight: 700;
	font-size: 20px;
	color: grey;
}

header {
	@include border(red);
	@include text;
	width: 800px;
	height: 200px;
	text-align: center;
	padding-top: 100px;
	line-height: 25px;
}

main {
	display: flex;
}

nav {
	@include border(orange);
	@include text;
	width: 100px;
	height: 400px;
	text-align: center;
	padding-top: 100px;
	line-height: 25px;
}

section {
	@include border(orange);
	@include text;
	width: 700px;
	height: 400px;
	text-align: center;
	padding-top: 100px;
	line-height: 25px;
}

footer {
	@include border(grey);
	@include text;
	width: 800px;
	height: 200px;
	text-align: center;
	padding-top: 100px;
	line-height: 25px;
}