* {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 600;
}

/* ? Картка */
.Card {
	display: inline-block;
	margin-bottom: 5px;
	color: black;
	font-size: 17px;
	height: 300px;
	width: 15rem;
	background-color: rgb(255, 255, 255);
	margin: 5px;

	border-radius: 15%;
	box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.4);
}

.text_block {
	padding: 30px 0px 10px 36px;
}

.text_block > div {
	margin-bottom: 5px;
}

.text_block > div > span {
	font-weight: 500;
}

.text_block > div:last-child {
	margin-bottom: 15px;
}

/* ? Кнопка */
.Button {
	width: 70%;
	height: 50px;
	background-color: green;
	border-radius: 18px;
	margin: 10px auto;

	cursor: pointer;
	text-align: center;
	transition: all 0.3s linear;
}

.ButtonHover:hover {
	background-color: rgb(102, 32, 69);
}
 
.text_button {
	color: white;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

/* * Функція "Збережено" */
.saved {
	background-color: rgb(101, 101, 95);
	cursor: default;
};


