body{
	margin: 0;
}

.fone {
	margin: 10% auto; /* Вирівнювання */
	padding-top: 1.1rem;
	box-sizing: border-box;

	background-color: #000;
	border-radius: 0.7rem;
	width: 300px;
	height: 200px;
}

.colorTab {
	box-sizing: border-box;
	margin: 0 auto;

	width: 85%;
	height: 100px;
}

.green {
	background-color: green;
}
.red {
	background-color: red;
}
.grey {
	background-color: grey;
}

.number {
	padding-top: 2rem;
	text-align: center;
	margin: 0 auto;

	font-size: 30px;
	font-weight: 600;
}

.buttons {
	text-align: center;
	padding-top: 1.4rem;
}

.buttons button {
	text-transform: uppercase;
	background-color: #000;
	border: none;
	color: #fff;
	cursor: grab;
	font-size: 23px;
}